{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <title>Soil Selection</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
</head>
<body>
    <!-- Container for both sections -->
    <div class="button-container">
        <!-- Section for the "Soils" button -->
        <div class="section">
            <div class="section-title">Soil Properties</div>
            <button id="soilsButton">Go to Soils</button>
        </div>

        <!-- Section for the "Borehole Summary" button -->
        <div class="section">
            <div class="section-title">Borehole Summary</div>
            <button id="boreholeButton">Go to Borehole Summary</button>
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
